button{
    display: inline-block;
    margin: 10px;
}
p{
    margin-right: 10px; 
    font-size: 25px;
}
input{
    /* padding-right: 80px; */
    padding-top: 10px;
    font-size: 30px;
    display: inline-block;
    margin : 0 auto;
    background-color:cornflowerblue ;
    color: black;
    border: none;
    margin-left:40%;
    margin-top: 20px;
}
input:hover{
    border: none;
}

*{
    background-color: blue;
    color: cornsilk;
}
button{
    background-color: cyan;
    color: black;
    font-size: 20px;
}
button:hover{
    background-color: darkcyan;
    color: white;
}